body {
    background-color: rgb(233, 229, 229);
    height: 100vh;
    overflow-y: auto;
    text-align: center;
    }
.texto {background-color: rgb(228, 217, 200);
    padding: 20px;
    font-size: medium;
    float:left;
    width:31%;}
.collage {
      position: relative;
      width: 100%;
      height: 100vh;
    }
.recorte {
      position: absolute; /* permite ponerlos en cualquier lugar */
      width: 200px;
      transform: rotate(-5deg); /* inclinar la imagen para que se vea “pegada” */
    }